# Python virtual environment
/venv/
# Vue node.js node_modules
/static/.idea/
/static/node_modules/
/static/dist/
# Python users' pictures, default-picture excluded
/apps/assets/
!/apps/assets/default_usage/
# Python users' result-pictures, default-picture excluded
/apps/results/
!/apps/results/default_usage/
